flask
flask-cors

langchain
langchain-community
langchain-text-splitters

chromadb

PyMuPDF
pypdf

sentence-transformers

openai
langchain-openai
langchain-google-genai
langchain-groq

python-dotenv

tiktoken

numpy

gunicorn
